            body {
                width: 100%;
                max-width: 1200px;
                min-width: 600px;
                margin: auto;
                margin-top: 30px;
                background-image: url("http://i.makeagif.com/media/9-10-2015/8j37d5.gif");
                background-attachment: fixed;
                background-size: cover;
                color: #FFFFFF;
                font-family: Verdana, sans-serif;
            }
            
            header,footer{
                 background: #000000;
                 width: 100%;
                 background-size: cover;
                 height: 200px;
                 
            }
                 
            header {
                padding: 10px;
            }
        
          
            #register{
                margin-top:10px;
                text-align: Left;
                color: #000000;
            }
            
            #login{
                margin-top:10px;
                text-align: Left;
                color: #000000;
            }
            
            